body{
    margin: 0;
}
/* header section */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 10px;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 1;
}
.marquee{
    background-color: orangered;
    color: white;
    height: 30px;
    padding: 8px;
}

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.center-content h1{
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}
.center-content p{
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
} 

header img{
    height: 50px;
}

ul{
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 20px;
    margin: 0;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Times New Roman', Times, serif;

} 
ul li a:hover{
    color:orangered
}

.headings{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.bg-video{
    width: 100%;
}

/* cards section */
.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: wheat;
}
.card{
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 220px;
    text-align: center;

}
.card img{
    margin: 0;
    width: 90%;
    height: 150px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.card img:hover{
    transform: scale(1.05);
    cursor: pointer;
    transition: transform 0.3s;
}

.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around
}
.add-button, .buy-button{
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.add-button{
    background-color: wheat;
    color: black;
}
.buy-button{
    background-color: black;
    color: white;
}
.add-button:hover{
    background-color: rgb(236, 206, 152);
}
.buy-button:hover{
    opacity: 0.8;
}

footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}